@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family:"GT-Super" ;
    src: url("./assets/Fonts/GT-Super/GT-Super-Display-Regular-Trial.otf");
}



.dashboard-navbar .active{
border-left: 3px solid #FACC15;
padding-left: 20px;
transition: ease-in-out 200ms;
color: white;
font-weight: 500;
}
    

